<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static',filename = 'images/dog.ico')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}'s 观影列表</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type = "text/css">
</head>
<body>
    <h2>
        <img src="{{url_for('static',filename = 'images/dog.jpg')}}" alt="Dog" class = "dog">
        {{name}}'s 观影列表
    </h2>
    <p>{{movies|length}} 个电影</p>
    <ul class = "movie-list">
        {% for movie in movies %}
        <li> {{movie.title}} - {{movie.year}}</li>
        {% endfor %}
    </ul>
    <img src="{{url_for('static',filename = 'images/totoro.gif')}}" alt="Walking totoro" class = "totoro">
    <footer>
        <small>
            &copy;2018 <a href="http://helloflask.com/book/3">HelloFlask</a>
        </small>
    </footer>
    
</body>
</html>